.menu-tree.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
  display: inline-flex;
  align-items: center;
}

.ant-tree-show-line .ant-tree-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper {
  display: flex;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper .ant-tree-title {
  flex: 1;
}


.ant-tree .ant-tree-switcher {
  display: var(--ant-tree-switcher-display, block);
}